body {
    background-color: darkslategray;
}

.off-bottom {
    top: 100vh;
    bottom: 100vh;
    left: 45vw;
    right: 55vw;
    opacity: 0;
}

@keyframes driftUp {
    from {
        top: 100vh;
        opacity: 0;
    }

    to {
        top: 90vh;
        opacity: 1;
    }
}