body {
    background-color: darkslategray;
}

.off-bottom {
    position: absolute;
    top: 95vh;
    bottom: 95vh;
    left: 40vw;
    right: 60vw;
    opacity: 0;
}

@keyframes driftUp {
    from {
        top: 95vh;
        opacity: 0;
    }

    to {
        top: 90vh;
        opacity: 1;
    }
}