<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="resource-limit-text">
    <span style="color: lightgray">Resource Limit: </span>
    <span>{{this.data.player.maxResource}}</span>
  </div>
  <div class="resource-container">
    <div *ngFor="let r of keys" [attr.id]="r" class="resource-box">
      <div style="float:left; padding-left: 4px;">
        <ion-img src="{{getResourceImg(r)}}" title="{{r}}" *ngIf="data.player.discoveredResources[r]"></ion-img>
        <ion-img src="assets/resources/unknown.png" *ngIf="!data.player.discoveredResources[r]"></ion-img>
      </div>
      <div class="resource-container-right" style="float:right" *ngIf="data.player.discoveredResources[r]">
        <div class="fillbar-container">
          <div class="fillbar">{{resourceBarWidth(r)}}</div>
        </div>
        <span class="resource-text">{{this.data.player.resources[r]}}</span>
      </div>
    </div>
  </div>
  
</ion-content>
