.floor-container {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 1px solid green;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    color: green;
    white-space: pre-wrap;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.floor {
    width: 100%;
    min-height: 256px;
    margin-top: 8px;
    border-radius: 8px;
    background: rgb(233,233,233);
    background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(194,194,194,1) 35%, rgba(156,156,156,1) 100%);
}

#floor-purchase {
    width: 100%;
    min-height: 256px;
    line-height: 256px;
    font-size: 24px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #AAA;
    border: 1px solid white;
    text-align: center;
    animation-duration: 0.2s;
}

#floor-purchase:hover {
    background-color: #777;
}

.floor-header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.floor-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 32px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.floor-enemy-groups {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.enemy-group-container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.enemy-group-infobox {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
   
    position: absolute;
    bottom: 128px;
    z-index: 1;
}

.enemy-group-container:hover .enemy-group-infobox {
    visibility: visible;
}

.enemy-group-container:hover {
    background-color: #6af;
}

.hidden {
    visibility: hidden;
}

.battle-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.battle-enemy-field {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.battle-enemy-infobox {
    visibility: hidden;
    width: 128px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 0%;
    z-index: 1;
}

.battle-enemy:hover .battle-enemy-infobox {
    visibility: visible;
}

.battle-player-actions {
    height: 192px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .action {
        background: transparent;
        font-size: 24px;
    }

    .action:hover {
        text-decoration: underline;
    }
}

.battle-player-info {
    height: 128px;
    width: 128px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-info-name {
    display: flex;
    border-bottom: 1px solid black;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.player-info-stat {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 8px);
}

#floor_number {
    color: #08f;
    border-radius: 8px;
    background-color: white;
    width: 64px;
    text-align: center;
}

#safety-text {
    text-align: center;
    border-radius: 8px;
    color: white;
}

#moves {
    width: calc(100% - 16px);
    height: 15%;
    border: 1px solid green;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    color: green;
    white-space: pre-wrap;
    overflow-y: auto;
}

#commandBox {
    display: flex;
    align-items: center;
    color: green;
    margin: 8px;

    ion-input {
        --placeholder-color: darkgray;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes attack {
      25% {
        transform: translate3d(0, 4px, 0);
      }

      to {
        transform: translate3d(0, -4px, 0);
      }
  }

  @keyframes growFromCenter {
      from {
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
      }

      to {
        left: 12%;
        top: 25%;
        width: 75%;
        height: 50%;
      }
  }

  @keyframes shrinkToCenter {
    from {
        left: 12%;
        top: 25%;
        width: 75%;
        height: 50%;
    }

    to {
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
    }
}

.grown {
    left: 12%;
    top: 25%;
    width: 75%;
    height: 50%;
}