.equipment-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.player-stats {
    width: 25%;
}

.player-info-name {
    display: flex;
    border-bottom: 1px solid black;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.player-info-stat {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 8px);
}

.player-gear {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-inventory {
    width: 25%;
    display: flex;
}